body{
  font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
}

#promo{
  margin-top:64px;
  padding:48px;
  text-align:center;
  background:url(../../assets/img/bg1.jpg) no-repeat;
  background-size:cover;
}

h1#text1{
  color:rgba(255,255,255,1);
}

p#text2{
  color:rgba(255,255,255,1);
  text-shadow:0px 0px 4px rgba(0,0,0,0.87);
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

#promo .jumbotron{
  border-radius:20px;
  padding:48px;
  background-color:rgba(0,0,0,0);
  max-width:800px;
  margin:auto;
}

@media (max-width:991px) {
  #promo .jumbotron{
    padding:28px;
  }
}

body{
}

#logo{
  max-height:36px;
  margin-right:6px;
  margin-top:-3px;
  display:inline-block;
}

#promo .jumbotron h1{
  text-shadow:0px 0px 10px rgba(0,0,0,0.75);
}

div#carousel-1.carousel.slide{
}

ul.nav.navbar-nav.navbar-right{
  font-weight:500;
}

#carousel-1 .carousel-inner{
  max-height:600px;
  margin-top:64px;
}

#carousel-1 .carousel-inner img{
  background-size:cover;
}

div.container-fluid{
}

div.jumbotron{
}

div.col-md-12{
  margin:16px;
}

h1{
  text-align:center;
}

.site-welcome{
  margin-top:20px;
  padding:16px;
}

.colum-welcome{
}

.site-welcome h3{
  text-align:center;
}

.site-welcome p{
  text-align:center;
}

.div-welcome{
  background-color:rgba(238,238,238,0.87);
}

